.first {
  float: left;
}

.second {
  float: right;
}
.results {
  float: left;
  margin-right: 450px;
  font-weight: bold;
  font-size: 15px;
}
.second {
  display: none;
}
.balance h1 {
  display: none;
  font-size: 150px;
}
